<div class="full-screen-services">

    <div class="ui contaier">

        <div class="section-title">
            <span class="border-title">SERVICES</span><br>
        </div>

        <h1 class="section-subtitle">ENJOY WITH US!</h1>
    </div>
    <div class="ui centered grid" style="padding-top: 80px">
        <div class="three wide computer four wide tablet twelve wide mobile column">
                <div class="ui centered card">
                    <div class="extra content">
                        <div class="center aligned author">
                            <i class="huge dollar sign icon orange-text"></i>
                        </div>
                    </div>
                    <div class="content">
                        <div class="center aligned header">Discount Tours</div>
                        <div class="center aligned description">
                            <p>All our tours, activities, and excursions are discounted well below retail price.</p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="three wide computer four wide tablet twelve wide mobile column">
            <div class="ui centered card">
                <div class="extra content">
                    <div class="center aligned author">
                        <i class="huge bicycle icon orange-text"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="center aligned header">Activities</div>
                    <div class="center aligned description">
                        <p>All our tours, activities, and excursions are discounted well below retail price.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" three wide computer four wide tablet twelve wide mobile column">
            <div class="ui centered card">
                <div class="extra content">
                    <div class="center aligned author">
                        <i class="huge bus icon orange-text"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="center aligned header">Excurtions</div>
                    <div class="center aligned description">
                        <p>All our tours, activities, and excursions are discounted well below retail price.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" three wide computer four wide tablet twelve wide mobile column">
            <div class="ui centered card">
                <div class="extra content">
                    <div class="center aligned author">
                        <i class="huge road icon orange-text"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="center aligned header">Tours</div>
                    <div class="center aligned description">
                        <p>All our tours, activities, and excursions are discounted well below retail price.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide computer four wide tablet twelve wide mobile column">
            <div class="ui centered card">
                <div class="extra content">
                    <div class="center aligned author">
                        <i class="huge plane icon orange-text"></i>
                    </div>
                </div>
                <div class="content">
                    <div class="center aligned header">Airport Transfers</div>
                    <div class="center aligned description">
                        <p>All our tours, activities, and excursions are discounted well below retail price.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>