<div *ngIf="showSidenav">
    <div class="ui bottom attached segment pushable">
        <div class="ui visible inverted left vertical thin sidebar menu">
            <div class="centered aligned" style="margin: 40px 0px 40px 25px">
                <img src="../../../../../src/assets/logos-cozumel/LogoCozumelTours.png" alt="" width="100px">
            </div>
            <a class="item" [routerLink]="['/dashboard/category']" routerLinkActive="active">
                <i class="block layout icon"></i>
                Category
            </a>
            <a class="item">
                <i class="plane icon"></i>
                Trips
            </a>
            <a class="item">
                <i class="cog icon"></i>
                Configurations
            </a>
            <a class="item" (click)="logout()">
                <i class="sign-out icon"></i>
                Logout
            </a>
        </div>
        <div class="pusher" id="dimmed">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>