<div class="newsletter-section center aligned">
    <div class="ui contaier" >
        <div class="section-title">
            <span class="border-title" data-aos="fade-up">NEWSLETTER</span><br />
        </div>

        <h1 class="section-subtitle" data-aos="fade-up" data-aos-delay="250">LET'S SUBSCRIBE</h1>
    </div>

    <div class="ui grid center aligned" style="margin-top: 80px;" data-aos="fade-up">
        <div class="column">
            <div class="ui action input">
                <input class="inp" type="text"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="Enter your email address">
                <button class="btn" >OK</button>
            </div>
        </div>
    </div>

</div>