<div class="full-screen-companies">
     <div class="ui contaier">

          <div class="section-title">
               <span class="border-title" >FEEDBACKS</span><br>
          </div>

          <h1 class="section-subtitle">RECOMENDED BY</h1>
     </div>

     <div class="brands">
          <div class="ui grid center aligned companies">
               <div class="three wide computer eight wide tablet sixteen wide mobile column" style="padding: 35px 0 35px 0;">
                    <img src="/src/assets/companies/usa-today.jpg" alt="" width="200px;">
               </div>
               <div class="three wide computer eight wide tablet sixteen wide mobile column"  style="padding: 35px 0 35px 0;">
                    <img src="/src/assets/companies/travel-chanel.png" alt="" width="150px;">
               </div>
               <div class="three wide computer eight wide tablet sixteen wide mobile column"  style="padding: 35px 0 35px 0;">
                    <img src="/src/assets/companies/iata.png" alt="" width="150px;">
               </div>
               <div class="three wide computer eight wide tablet sixteen wide mobile column"  style="padding: 35px 0 35px 0;">
                    <img src="/src/assets/companies/trip-advisor.png" alt="" width="200px;">
               </div>
               <div class="three wide computer eight wide tablet sixteen wide mobile column"  style="padding: 35px 0 35px 0;">
                    <img src="/src/assets/companies/asta.png" alt="" width="150px;">
               </div>
          </div>
     </div>
</div>