<div class="full-screen">
    <div class="ui contaier">

        <div class="section-title">
            <span class="border-title">TOURS</span><br>
        </div>

        <h1 class="section-subtitle">CATEGORIES</h1>
    </div>

    <div style="padding-top: 50px;">

        <div class="ui  column grid center aligned">
            
            <div class="column" id="model">
                    <div class="ui black ribbon label ">
                        SNORKELING
                    </div>
            </div>
            
            <div class="column" id="beach">
                    <div class="ui black ribbon label">
                        BEACH BREAK
                    </div>
            </div>
            <div class="column" id="boat">
                    <div class="ui black ribbon label">
                        BOAT TOURS
                    </div>
            </div>
            <div class="column" id="dolphin">
                    <div class="ui black ribbon label">
                        DOLPHIN SWIMS
                    </div>
            </div>
            <div class="column" id="eco">
                    <div class="ui black ribbon label">
                        ECO TOURS
                    </div>
            </div>
           
            <div class="column" id="model">
                    <div class="ui black ribbon label ">
                        SNORKELING
                    </div>
            </div>
            
            <div class="column" id="beach">
                    <div class="ui black ribbon label">
                        BEACH BREAK
                    </div>
            </div>
            <div class="column" id="boat">
                    <div class="ui black ribbon label">
                        BOAT TOURS
                    </div>
            </div>
            <div class="column" id="dolphin">
                    <div class="ui black ribbon label">
                        DOLPHIN SWIMS
                    </div>
            </div>
            <div class="column" id="eco">
                    <div class="ui black ribbon label">
                        ECO TOURS
                    </div>
            </div>

        </div>

    </div>
</div>