.full-screen-categories {
    /* Auto to avoid overlapping */
    height: auto; 
    min-height: auto;
    padding-top: 70px;
    padding-bottom: 100px;
}

.ui.ribbon.label {
    left: calc(-0px - 0em);
    padding-right: 1.2em;
    border-right-color: transparent !important;
}

.ui.ribbon.label {
    top: 75%;
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
    font-weight: 700;
    letter-spacing: 2px;
}

.ui.grid > * {
    padding-left: 0rem;
    padding-right: 0rem;
}

/* Categories */
.model {
    width: 180px;
    height: 180px;
    /* background-color: blue; */
    /* background-image: url("https://images.pexels.com/photos/887826/pexels-photo-887826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s ease;
    border-radius: 5%;
    margin: 20px;
}

#beach {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#boat {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/1007836/pexels-photo-1007836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#dolphin {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/225869/pexels-photo-225869.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#eco {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/917510/pexels-photo-917510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#fishing {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/294674/pexels-photo-294674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#mayan {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/225284/pexels-photo-225284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#sunset {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#theme {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/784917/pexels-photo-784917.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

#water {
    width: 180px;
    height: 180px;
    background-image: url("https://images.pexels.com/photos/696039/pexels-photo-696039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5%;
    margin: 20px;
}

