<div class="full-screen-categories">
    <div class="ui contaier">
        <div class="section-title">
            <span class="border-title">TOURS</span><br />
        </div>

        <h1 class="section-subtitle">CATEGORIES</h1>
    </div>

    <div class=" ui container" style="padding-top: 50px;">
        <div class="ui  column grid center aligned">
            <div *ngFor="let x of categories">
                <a href="">
                    <div class="column model" [ngStyle]="{'background-image': 'url(' + x.photo_url + ')'}">
                        <div class="ui black ribbon label ">
                            {{ x.name }}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>