<style>
    .section-title {
        text-align: center;
    }

    .section-title span.border-title {
        text-align: center;
        color: var(--orange-color);
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 700;
        padding-bottom: 10px;
        border-bottom: 5px solid var(--orange-color);
    }

    .section-subtitle {
        font-family: 'Montserrat', sans-serif !important;
        color: var(--grey-darken);
        font-size: 35px;
        letter-spacing: 3px;
        padding-top: 15px;
        text-align: center;
    }
</style>

<div class="full-screen">
    <div class="ui contaier">

        <div class="section-title">
            <span class="border-title">TOURS</span><br>
        </div>

        <h1 class="section-subtitle">CATEGORIES</h1>
    </div>
</div>