<div class="full-screen-offers">
    <div class="ui contaier">

        <div class="section-title">
            <span class="border-title">OFFERS</span><br>
        </div>

        <h1 class="section-subtitle">TOP OFFERS</h1>
    </div>

    <div class="ui container" style="margin-top: 90px;">

        <div class="ui grid">

            <div class="four wide computer eight wide tablet eight wide mobile column">
                <div class="ui card">
                    <div class="image">
                        <div class="ui black ribbon label ">
                            $59.00
                        </div>
                        <img src="https://images.pexels.com/photos/1036864/pexels-photo-1036864.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>
                    <div class="content">
                        <div class="header">Sup Lessons - Intro</div><br>
                        <div class="meta">
                            <span class="date">100% Flexible for Any Schedule</span><br>
                            <span class="date">1.5 Hours - Adults & Kids $59.00</span>
                        </div>

                        <div class="description">
                            <div class="ui star rating" data-rating="3"></div>
                        </div>
                    </div>
                    <div class="extra content right aligned">
                        <button class="ui button">
                            Check it!
                        </button>
                    </div>
                </div>
            </div>
            <div class="four wide computer eight wide tablet eight wide mobile column">
                <div class="ui card">
                    <div class="image">
                        <div class="ui black ribbon label ">
                            $350.00
                        </div>
                        <img src="https://images.pexels.com/photos/1238726/pexels-photo-1238726.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>
                    <div class="content">
                        <div class="header">Depp Sea Fishing</div><br>
                        <div class="meta">
                            <span class="date">Daily. You choose the start time! 4, 6 and 8 hour trip from $350.00</span><br>
                        </div>

                        <div class="description">
                            <div class="ui tiny star rating " data-rating="4"></div>
                        </div>
                    </div>
                    <div class="extra content right aligned">
                        <button class="ui button">
                            Check it!
                        </button>
                    </div>
                </div>
            </div>
            <div class="four wide computer eight wide tablet eight wide mobile column">
                <div class="ui card">
                    <div class="image">
                        <div class="ui black ribbon label ">
                            $134.25
                        </div>
                        <img src="https://images.pexels.com/photos/148836/pexels-photo-148836.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>
                    <div class="content">
                        <div class="header">Dolphin Swim Adventure</div><br>
                        <div class="meta">
                            <span class="date">5 times daily except sundays</span><br>
                            <span class="date">1 Hour $134.25</span>
                        </div>

                        <div class="description">
                            <div class="ui tiny star rating " data-rating="5"></div>
                        </div>
                    </div>
                    <div class="extra content right aligned">
                        <button class="ui button">
                            Check it!
                        </button>
                    </div>
                </div>
            </div>
            <div class="four wide computer eight wide tablet eight wide mobile column">
                <div class="ui card">
                    <div class="image">
                        <div class="ui black ribbon label ">
                            $54.00
                        </div>
                        <img src="https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    </div>
                    <div class="content">
                        <div class="header">Deluxe Beach Resort</div><br>
                        <div class="meta">
                            <span class="date">All inclusive, Day Pass + Water Park!</span><br>
                            <span class="date">Adults $54.00 & Kids $45.00</span>
                        </div>

                        <div class="description">
                            <div class="ui tiny star rating " data-rating="3"></div>
                        </div>
                    </div>
                    <div class="extra content right aligned">
                        <button class="ui button">
                            Check it!
                        </button>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>