<!-- <div class="full-overlay">
     <div class="content"></div>
     <div> -->

<div class="full-screen-about">
     <div class="ui contaier">
          <div class="section-title">
               <span class="border-title">ABOUT US</span><br />
          </div>

          <h1 class="section-subtitle">COZUMEL TOURS</h1>
     </div>

     <div class="ui container" style="margin-top: 40px">
          <div class="ui grid">
               <div class="four wide computer sixteen wide tablet sixteen mobile column">
                    <img src="../../../../src/assets/logos-cozumel/LogoCozumelToursNegative.png" alt="" width="90%" style="padding-top: 60px">
               </div>
               <div class="twelve wide computer sixteen wide tablet sixteen mobile column text">
                    Hi, our names are Johann & Sandra. We first visited Cozumel to go scuba diving over the
                    Millennium
                    in
                    1999, and were love struck by the fabulous coral reefs and the laid back island feel.
                    We've had a
                    soft
                    spot in our heart for Cozumel ever since. Since 2003, when we opened Cancun Discounts,
                    we've been
                    working in the Cancun, Riviera Maya and Cozumel areas, bringing you the best tours in the
                    area for
                    the
                    best prices.
                    <br>
                    <br>
                    In mid-2007, we made the decision to focus more attention on Cozumel, as we were getting
                    many more
                    requests for Cozumel excursions than we were offering at the time. Cozumel Tours made
                    it's debut in
                    March, 2008, our first website dedicated exclusively to fun activities on the island. Of
                    course, we
                    brought our famous discounts with us - offering the best prices on the island for every
                    tour - plus
                    we
                    decided to offer our exclusive Cozumel Fun Discount Card FREE with every tour reservation
                    as a
                    special
                    thank you to our customers. It's the only discount card on the island.
               </div>
          </div>
     </div>

     <div class="ui grid">
          <div class="center aligned column">
               <button class="ui button btn">
                    Read More
               </button>
          </div>

     </div>
</div>
<!-- </div>
</div> -->