<!-- <div class="full-overlay">
     <div class="content"></div>
     <div> -->

<div class="full-screen-about">
     <div class="ui contaier">
          <div class="section-title">
               <span class="border-title" data-aos="fade-up">ABOUT US</span><br />
          </div>

          <h1 class="section-subtitle" data-aos="fade-up" data-aos-delay="500">SWEET SUMMER</h1>
     </div>

     <div class="ui container" style="margin-top: 40px">
          <div class="ui grid">
               <div class="four wide computer sixteen wide tablet sixteen mobile column">
                    <img src="../../../../assets/logos/sweet-summer-negative.png" alt="" width="90%" style="padding-top: 60px"
                         data-aos="zoom-in" data-aos-duration="1000">
               </div>
               <div class="twelve wide computer sixteen wide tablet sixteen mobile column text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
               </div>
          </div>
     </div>

     <div class="ui grid">
          <div class="center aligned column">
               <button class="ui button btn">
                    Read More
               </button>
          </div>

     </div>
</div>
<!-- </div>
</div> -->