<div class="ui container" style="margin-bottom: 80px">
    <h1 style="margin: 60px 0 40px">Categories</h1>
    <button class="ui primary button" (click)="openModal()">
        Add Category
    </button>

    <br>
    <br>
    <table class="ui celled table">
        <thead>
            <tr>
                <th width="60px">ID</th>
                <th width="320px">Category</th>
                <th width="260px" class="center aligned">Options</th>
            </tr>
        </thead>
        <tbody *ngFor="let x of categories">
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td class="center aligned">
                    <button class="ui small button">
                        Delete
                    </button>
                    <button class="ui small secondary button" (click)="edit(x.id)">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            New Category
        </div>
        <div class="image content">
            <div class="ui medium image" *ngIf="category.photo_url">
                <img src="{{category.photo_url}}">
            </div>
            <div class="description">
                <div class="ui header">Fill out the form to save a new category</div>
                <br>
                <form class="ui form" #formCategory="ngForm">
                    <div class="field">
                        <label>Category name</label>
                        <input placeholder="Full Name" type="text" [(ngModel)]="category.name" name="name" required>
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="2" [(ngModel)]="category.description" name="description"></textarea>
                    </div>
                    <div class="field">
                        <label>Photo URL</label>
                        <input placeholder="Paste a photo URL" type="text" [(ngModel)]="category.photo_url" name="photo_url">
                    </div>
                </form>

                <div class="ui negative message" *ngIf="errorMessage">
                    <i class="close icon"></i>
                    <div class="header">
                        We're sorry. All the fields are required
                    </div>
                    <p>Fill out all the fields
                    </p>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" (click)="cancel()">
                Cancel
            </div>
            <button class="ui positive right labeled icon button" (click)="save()">
                Save
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>
</div>