<div id="navbar">
    <div class="full-width-mobile-menu mobile-sticky " *ngIf="showMobileMenu">
        <div class="ui grid">
            <div class="sixteen column center aligned animated" id="mobile">
                <h1><a (click)="goTo('home')" id="home-mobile">Home</a></h1>
                <h1><a (click)="goTo('categories')" id="news-mobile">Tours</a></h1>
                <h1><a (click)="goTo('about')" id="about-mobile">Cruise Corner</a></h1>
                <h1><a (click)="goTo('contact')" id="contact-mobile">Airport Transfer</a></h1>
                <h1><a (click)="goTo('works')" id="works-mobile">Tours</a></h1>
                <h1><a (click)="goTo('journal')" id="journal-mobile">About Us</a></h1>
                <h1> <button class="ui button" (click)="goTo('login')">
                        Login
                    </button></h1>
                <br>
                <br>
                <a><i class="white-text big close icon" (click)="hide()" style="cursor: pointer;"></i></a>
            </div>
        </div>
    </div>
    <div>

        <div id="navbar">
            <!-- Desktop Menu -->
            <div class="ui secondary menu hide-on-med-and-down">
                <div class="left menu">
                    <a [routerLink]="['/home']">
                        <img  class="image-navbar" src="../../../../assets/logos/sweet-summer.png" width="13%">
                    </a>
                </div>

                <div class="right menu">
                    <a class="item" [routerLink]="['/home']" routerLinkActive="active">
                        HOME
                    </a>
                    <a class="item" [routerLink]="['/categories']"  routerLinkActive="active">
                        TOURS
                    </a>
                    <a class="item" routerLinkActive="active">
                        CRUISE CORNER
                    </a>
                    <a class="item" routerLinkActive="active">
                        AIPORT TRANSFER
                    </a>
                    <a class="item" routerLinkActive="active">
                        CART
                    </a>
                    <a class="item" routerLinkActive="active">
                        ABOUT US
                    </a>

                    <button class="ui button" [routerLink]="['/login']">
                        Login
                    </button>
                </div>
            </div>

            <div class="ui secondary menu hide-on-large-only">
                <div class="left menu">
                    <img class="image-navbar-mobile" src="../../../../assets/logos/sweet-summer.png" width="13%">
                </div>
                <div class="right menu">
                    <i class="white-text bars icon burger-icon" (click)="show()"></i>
                </div>
            </div>


        </div>