.image-navbar {
    margin-left: 90px;
    margin-top: 16px;
}

.image-navbar-mobile {
    margin-left: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.burger-icon {
    cursor: pointer;
    color: var(--orange-color);
    margin-top: 26px;
    font-size: 25px;
}

.ui.secondary.menu {
	background: white !important;
	margin-left: -0.35714286em;
	margin-right: -0.35714286em;
	border-radius: 0em;
	border: none;
	box-shadow: none;
	padding-right: 40px;
	margin-top: 0px;
}

.ui.secondary.menu .active.item {
	box-shadow: none;
	background: rgba(0, 0, 0, 0.05);
	border-top: 5px solid var(--orange-color);
	border-radius: 0 0 0 0;
}

.ui.secondary.menu .item {
	padding-top: 25px;
	padding-bottom: 25px;
}

.ui.secondary.menu a.item:hover {
	background: var(--orange-color);
	color: white;
	border-radius: 0 0 0 0;
	/* padding: 0 0 0 0; */
	height: 69px;
}

.ui.button {
    margin: 17px 0px 17px;
    background-color: var(--orange-color);
    color: white;
}

.full-width-mobile-menu {
    height: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: var(--violet);
    z-index: 7;
}

.mobile-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar {
    overflow: hidden;
    background-color: var(--light-black);
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 5;
}

