<div id="navbar">

    <!-- Desktop Menu -->
    <div class="ui secondary menu hide-on-med-and-down">
        <div class="left menu">
            <img class="image-navbar" src="/src/assets/logos-cozumel/LogoCozumelTours.png" width="69" height="38">
        </div>

        <div class="right menu">
            <a class="active item">
                HOME
            </a>
            <a class="item">
                CRUISE CORNER
            </a>
            <a class="item">
                AIPORT TRANSFER
            </a>
            <a class="item">
                CART
            </a>
            <a class="item">
                TOURS
            </a>
            <a class="item">
                CONTACT US
            </a>

            <button class="ui button">
                Login
            </button>
        </div>
    </div>

    <div class="ui secondary menu hide-on-large-only">
        <div class="left menu">
            <img class="image-navbar-mobile" src="/src/assets/logos-cozumel/LogoCozumelTours.png" width="69" height="38">
        </div>
        <div class="right menu">
            <i class="white-text bars icon burger-icon" (click)="show()" ></i>
        </div>
    </div>


</div>

