
.ui.secondary.menu {
	background: white !important;
	margin-left: -0.35714286em;
	margin-right: -0.35714286em;
	border-radius: 0em;
	border: none;
	box-shadow: none;
	padding-right: 40px;
	margin-top: 0px;
}

.ui.secondary.menu .active.item {
	box-shadow: none;
	background: rgba(0, 0, 0, 0.05);
	border-top: 5px solid orange;
	border-radius: 0 0 0 0;
}

.ui.secondary.menu .item {
	padding-top: 25px;
	padding-bottom: 25px;
}

.ui.secondary.menu a.item:hover {
	background: orange;
	color: white;
	border-radius: 0 0 0 0;
	/* padding: 0 0 0 0; */
	height: 69px;
}

.ui.button {
    margin: 17px 0px 17px;
    background-color: orange;
    color: white;
}