<!-- Desktop Menu -->
<div id="navbar">

    <div class="ui secondary menu hide-on-med-and-down">
        <div class="left menu">
            <img class="image-navbar" src="/src/assets/logos-cozumel/LogoCozumelTours.png" width="69" height="38">
        </div>

        <div class="right menu">
            <a class="active item">
                HOME
            </a>
            <a class="item">
                CRUISE CORNER
            </a>
            <a class="item">
                AIPORT TRANSFER
            </a>
            <a class="item">
                CART
            </a>
            <a class="item">
                TOURS
            </a>
            <a class="item">
                CONTACT US
            </a>

            <button class="ui button">
                Login
            </button>
        </div>
    </div>
</div>


<!-- Mobile -->

<!-- <div class="ui secondary menu hide-on-med-and-down">
    <div class="left menu">
        <img class="image-navbar" src="/src/assets/logos-cozumel/LogoCozumelTours.png" width="69" height="38">
    </div>
    <div class="right menu">
        <li><i class="white-text bars icon" (click)="show()" style="cursor: pointer;"></i></li>
    </div>
</div> -->