/******************************************** 
              Global styles
*********************************************/

:root {
    --orange-color: #E94E1B;
    --dark-blue-1: #090D16;
    --dark-blue-2: #080B13;
    --grey-darken: #424242;
}

/* Text */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Montserrat', sans-serif ;
}

/* Font weights */
.medium {
    font-weight: 400
}

.bold {
    font-weight: 700
}

.black {
    font-weight: 900 
}

/* Background Colors*/

.dark-blue-1{
    background-color: var(--dark-blue-1);
}

.dark-blue-2{
    background-color: var(--dark-blue-2);
}

/* Text colors */

.white-text{
    color: white;
}

.orange-text{
    color: var(--orange-color)
}

.grey-darken{
    color: var(--grey-darken)
}
