/******************************************** 
              Global styles
*********************************************/

:root {
    --orange-color: #E94E1B;
    --blue: #304257;
    --dark-blue-1: #090D16;
    --dark-blue-2: #080B13;
    --grey-darken: #424242;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
}

/* Font weights */
.medium {
    font-weight: 400
}

.regular {
    font-weight: 500
}

.bold {
    font-weight: 700
}

.black {
    font-weight: 900
}

/* Background Colors*/

.dark-blue-1 {
    background-color: var(--dark-blue-1);
}

.dark-blue-2 {
    background-color: var(--dark-blue-2);
}

/* Text colors */

.white-text {
    color: white;
}

.orange-text {
    color: var(--orange-color)
}

.grey-darken {
    color: var(--grey-darken)
}

/* Section classes */
.full-screen {
    height: 100%;
    min-height: 91vh;
    padding-top: 70px;
}

.section-title {
    text-align: center;
}

.section-title span.border-title {
    text-align: center;
    color: var(--orange-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 5px solid var(--orange-color);
}

.section-subtitle {
    font-family: 'Montserrat', sans-serif !important;
    color: var(--grey-darken);
    font-size: 35px;
    letter-spacing: 3px;
    padding-top: 15px;
    text-align: center;
}

/* To hide an element */
@media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
        display: none !important;
    }
}

@media only screen and (min-width: 993px) {
    .hide-on-large-only {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

/* Navbar general style */
.ui.menu {
    margin: 0rem 0em -1px !important;
}

/* Breadcrum */
.ui.breadcrumb .active.section {
    font-weight: bold;
    color: var(--orange-color);
}

.ui.breadcrumb a.section {
    cursor: pointer;
    color: var(--grey-darken);
}

.ui.grid {
    margin-left: 0rem !important; 
    margin-right: 0rem !important; 
}