<div class="row dark-blue-1 footer">
     <div class="ui stackable grid">
        <div class="two wide computer two wide tablet one wide mobile column"></div>

        <div class="five wide computer five wide tablet column">
            <img src="/src/assets/logos-cozumel/LogoCozumelTours.png" alt="" width="200px">
            <br>
            <br>
            <br>
            <p class="p-footer-text">Our best-in-the-business English-speaking customer service is handled locally in Mexico, while we
                process all our transactions securely in the USA. This not only keeps your money safe, but saves you
                from any foreign transaction fees</p>
        </div>


        <div class="four wide computer four wide tablet column">

            <h3 class="title">CONTACT US</h3>
            <br>
            <br>
            <p class="p-footer-item"><i class="orange-text map marker alternate icon"></i>United States</p>

            <p class="p-footer-item"><i class="orange-text phone icon"></i>1-866-464-6205 <i class="us flag"></i><i class="canada flag"></i></p>

            <p class="p-footer-item"><i class="orange-text phone icon"></i>01-800-822-4577 <i class="mx flag"></i></p>

            <p class="p-footer-item"><i class="orange-text icon mail"></i> info@couzumel-tours.com</p>

        </div>

        <div class="three wide computer five wide tablet column">
            <h3 class="title">FOLLOW US</h3>
            <br>
            <div class="ui mini horizontal divided list">

                <div class="item">
                    <a href="https://www.facebook.com/cozumelexcursions" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/facebook.png">
                    </a>
                </div>

                <div class="item" >
                    <a href="https://twitter.com/cozumel_tour" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/twitter.png">
                    </a>
                </div>

                <div class="item" >
                    <a href="https://www.youtube.com/channel/UCv6JL8wBMchUCktrzfvCHQA" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/youtube.png">
                    </a>
                </div>

                <div class="item" >
                    <a href="https://www.instagram.com/cozumel_tours/" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/instagram.png">
                    </a>
                </div>

                <div class="item" target="_blank">
                    <a>
                        <img class="ui avatar image" src="/src/assets/social/snapchat.png">
                    </a>
                </div>

                <div class="item" target="_blank">
                    <a>
                        <img class="ui avatar image" src="/src/assets/social/whatsapp.png">
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row ">
    <div class="ui stackable grid center aligned">
        <div class="dark-blue-2 sixteen wide computer sixteen wide tablet sixteen wide mobile column">
            <p class="white-text">© 2008-2019 JS Tour & Travel - All Rights Reserved. </p>
        </div>
    </div>
</div>