.footer{
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 70px;
    padding-bottom: 70px;

    @media (max-width: 753px) {
        padding-left: 60px;
    }
}

.title{
    font-weight: 900 !important;
    padding-top: 70px;
}


.black{
    font-weight: 900 
}

.p-footer-text{
    width:80%;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
}

.p-footer-item{
    font-weight: 500;
    font-size: 14px;
}