<div class="row dark-blue-1 footer">
    <div class="ui stackable grid">
        <div class="two wide computer two wide tablet one wide mobile column"></div>

        <div class="five wide computer five wide tablet column">
            <img src="../../../../assets/logos/sweet-summer-white.png" alt="" width="200px">
            <br>
            <br>
            <br>
            <p class="p-footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>


        <div class="four wide computer four wide tablet column">

            <h3 class="title">CONTACT US</h3>
            <br>
            <br>
            <p class="p-footer-item"><i class="orange-text map marker alternate icon"></i>United States</p>

            <p class="p-footer-item"><i class="orange-text phone icon"></i>1-977-575-7194 <i class="us flag"></i><i
                    class="canada flag"></i></p>

            <p class="p-footer-item"><i class="orange-text phone icon"></i>01-700-711-3466 <i class="mx flag"></i></p>

            <p class="p-footer-item"><i class="orange-text icon mail"></i> info@sweetsummer.com</p>

        </div>

        <div class="three wide computer five wide tablet column">
            <h3 class="title">FOLLOW US</h3>
            <br>
            <div class="ui mini horizontal divided list">

                <div class="item">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/facebook.png">
                    </a>
                </div>

                <div class="item">
                    <a href="https://twitter.com/" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/twitter.png">
                    </a>
                </div>

                <div class="item">
                    <a href="https://www.youtube.com/" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/youtube.png">
                    </a>
                </div>

                <div class="item">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="ui avatar image" src="/src/assets/social/instagram.png">
                    </a>
                </div>

                <div class="item" target="_blank">
                    <a>
                        <img class="ui avatar image" src="/src/assets/social/snapchat.png">
                    </a>
                </div>

                <div class="item" target="_blank">
                    <a>
                        <img class="ui avatar image" src="/src/assets/social/whatsapp.png">
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row ">
    <div class="ui stackable grid center aligned">
        <div class="dark-blue-2 sixteen wide computer sixteen wide tablet sixteen wide mobile column">
            <p class="white-text">© 2019 Sweet Summer - All Rights Reserved. </p>
        </div>
    </div>
</div>